<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <figure class="avatar"><%= image_tag "jsayar.jpg" %></figure>
        <ul class="links">
          <li><%= link_to "@jsayar", "https://twitter.com/jsayar" %></li>
          <li><%= link_to "Blog", "http://blog.jesussayar.com/" %></li>
          <li><%= link_to "jesus-sayar", "http://www.jesussayar.com/" %></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h3>Meta</h3>
        <p>I am Jesus Sayar, web developer specializing in Ruby on Rails, I also play with the mobile development, especially iOS.
         I usually work on REST services, ecommerces, search engines and generally any backend architecture.</p>
        <p>Always with a pet project in my pocket, I am self taught and addicted to technology.</p>
      </div>

      <div class="col-md-3"></div>

    </div>
  </div>
</footer>