<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <figure class="avatar"><%= image_tag "jsayar.jpg" %></figure>
        <ul class="links">
          <li><%= link_to "@jsayar", root_path %></li>
          <li><%= link_to "Blog", root_path %></li>
          <li><%= link_to "jesus-sayar", root_path %></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h3>Meta</h3>
        <p>I am Jesus Sayar, web developer specializing in Ruby on Rails, also tried to stay close to mobile development, especially for iOS. I usually work in genearción REST services, ecommerces, search engines and generally any backend architecture for generating business platform.</p>
        <p>Always with a pet project in the pocket, I am self taught and addicted to knowledge.</p>
      </div>

      <div class="col-md-3"></div>

    </div>
  </div>
</footer>